header#header
  .navbar.navbar-fixed-top(role='navigation')
    .navbar-inner
      .container
        a.brand(href='/')
          div.bubble_logo
        div
          ul.nav
          ul.nav.pull-right
            li.header_button_home
              a(href='/')
                div.icon_header_home
            li.header_button_search
              a(href='/browse_bubbles')
                div.icon_header_search
            li.header_button_create
              a(href="/users/#{req.user.id}/new_bubble")
                div.icon_header_create
            li.header_button_notifications
              a(href="/notifications")
                div.icon_header_notifications
                if (req.user.total_unviewed_notifications > 0)
                  div.header_counter
                    h2 #{req.user.total_unviewed_notifications}
            if (req.isAuthenticated())
              div.user_widget
                a(href="/users/"+req.user.id)
                  h3= req.user.name
                  div.nav_pic_square_bg
                    img.nav_pic_square(src='http://graph.facebook.com/'+req.user.facebook.id+'/picture?type=square')
              li.sign_out_button.header_button_sign_out
                a(href="/logout", title="logout")
                  div.icon_header_sign_out
            else
              li
                a(href="/login", title="Login") Sign In
