extends templates/top_bar_template

block top_bar_left

block post_attributes_preview
  div.location_icon
  block top_bar_main_location

  block other_attributes_preview

block connect_post
  button.button_connect_post.button_im_going
