block set_parameters

form.delete_post_form(method='post', action=url_delete)
  button.activate_are_you_sure.back_button.delete_post_button.colorize_texture_none_2.gradient_gray delete #{object_type}
  input(type="hidden", name="_method", value="DELETE")
  section.are_you_sure
    div.descriptor.red_text Are you sure you want to delete this #{object_type}?
    div.box_center_outer
      div.box_center_inner
        button.action_button.colorize_blue_texture.are_you_sure_yes(type='submit') yes
        button.action_button.colorize_white_texture.colorize_text_gray.are_you_sure_no no
