div(class='toggle_visible create_post colorize_texture_#{bubble_section}')
  | create bubble
  div(class='toggle_make_invisible icon_arrow_down icon_arrow_down_#{bubble_section} start_invisible')

section.bubble_form_container
  form.bubble_form.start_open.toggle_invisible.form-horizontal(method="post", action="/bubbles")
    input.requiredInput.input_bubble_name(type='text', value=bubble.name, maxlength="30", name="name", placeholder='Bubble Name')
    input.input_bubble_location(type='text', value=bubble.location, maxlength="20", name="location", placeholder='Bubble Location (Optional)')
   
    select.requiredInput.input_bubble_type(name='bubble_type')
      option(value='student organization') Student Organization
      option(value='administration') Administration
      option(value='study group') Study Group
      option(value='greek life') Greek Life
      option(value='athletics') Athletics
      option(value='class') Class 

    button#submitBtn.submit_post.submit_post_bubble.colorize_texture_none(type='submit') create
      p.warning.descriptor.red_text Please fill in every field before creating your bubble
