years_later = current_year + 11

block content
  #stripe-form
    div You will be charged a recurring fee of $20/month

    form.form-horizontal#payment-form(action='/pay/company_bubble', method='POST')
    
      .control-group
        label.control-label Card Number
        .controls
          input.input-large.card-number(type='text', size='30', maxlength='30', autocomplete='off')

      .control-group
        label.control-label Expiration
        .controls
          select.input-xsmall-dropdown.card-expiry-month
            - for (var i = 1; i <= 12; i++)
              option(value=i)= i
          span.input-slash /
          select.input-small-dropdown.card-expiry-year
            - for (var i = current_year; i <= years_later; i++)
              option(value=i)= i

      .control-group
        label.control-label Security Code
        .controls
          input.input-xsmall.card-cvc(type='text', size='4', maxlength='4', autocomplete='off')

      .form-actions
        button.btn.btn-primary.submit-button(type='submit') Pay

    #error.hidden
