extends ../../../layouts/default

block main
  div(class=['page_content', 'page_#{bubble_section}s'])
    block new_post

    ul#post_list.post_list.list_view
    block no_posts
  
  section.hidden#list_pagelet_url= list_pagelet_url
