li.sidebar_button_home
  a(href='/')
    div.left_line
    div.sidebar_button_icon.icon_home
    h2.sidebar_button_label home
    div.icon_sidebar_select
li.sidebar_button_browse_bubbles
  a(href='/browse_bubbles')
    div.left_line
    div.sidebar_button_icon.icon_search
    h2.sidebar_button_label search
    div.icon_sidebar_select
li.sidebar_button_new_bubble
  a(href='/users/#{req.user._id}/new_bubble')
    div.left_line
    div.sidebar_button_icon.icon_new_bubble
    h2.sidebar_button_label create a bubble
    div.icon_sidebar_select
li.sidebar_button_notifications
  a(href='/notifications')
    div.left_line
    div.sidebar_button_icon.icon_notifications
    h2.sidebar_button_label notifications
    if (req.user.total_unviewed_notifications > 0)
      div.sidebar_counter.sidebar_counter_user
        h2 #{req.user.total_unviewed_notifications}
    div.icon_sidebar_select
