extends templates/single/single_event_authorized_template

block top_bar
  include widgets/top_bar_event_show

block edit_post
  include widgets/button_modify_post_edit

block description
  include widgets/description_show_event

block comments
  include widgets/comments
