extends templates/single/single_talk_authorized_template

block top_bar
  include widgets/top_bar_talk_edit

block edit_post
  include widgets/hidden_edit_form
  include ../widgets/form_delete_post

block description
  include widgets/description_edit

block comments
