extends templates/left_bar_template

block section_top
  section.section_top
    div.pic_post_container
      block change_post_image

      img.pic_post(src=post.pic_big)

block section_middle
  section.section_middle
    div.location_icon
    div.descriptor.gray_text location
    h4#left_bar_venue= post.location
-//    button#map_it.red_button map it
