extends templates/button_connect_bubble/button_connect_bubble_template

block if_admin
  connect_bubble_hide    =  'true'

block if_member
  connect_bubble_hide    =  'true'

block if_applicant
  connect_bubble_hide    =  'true'

block if_invitee
  connect_bubble_hide    =  'true'

block if_fan
  connect_bubble_phrase  =  'unfollow bubble'
  connect_bubble_action  =  'remove_fan'

block if_none
  connect_bubble_phrase  =  'follow bubble'
  connect_bubble_action  =  'add_fan'
