extends templates/description/description_template

block description_info
  textarea#post_description#edit_description.required_input.bubble_input.connect_hidden.edit_description(rows='20')= post.description
