section.venue_widget.post_source_bubble
  div.pic_venue_container
    img.pic_venue(src=post.bubbles[0].pic_big)
  section.venue_info
    div.venue_name= post.bubbles[0].name
    div.name_heading #{post.bubbles[0].connections.users.members.length} members 
