section.venue_widget
  div.pic_venue_container
    img.pic_venue(src='http://graph.facebook.com/#{post.creator.facebook.id}/picture?type=square')
  section.venue_info
    div.name_heading posted by 
    div.venue_name= post.creator.name
