extends templates/top_bar/top_bar_event_template

block top_bar_left
  input#edit_start_time#start_time.required_input.bubble_input.connect_hidden.requiredInput.input-medium(type='text', name="start_time", readonly="readonly", value=post.start_time)

block post_name
  input#edit_name.required_input.bubble_input.connect_hidden.post_name(value=post.name)

block top_bar_main_location
  div
    input#edit_location.required_input.bubble_input.connect_hidden.gray_text.venue_text.descriptor.requiredInput(style='width: 105px', type='text', maxlength='35', name='location', value=post.location)

block other_attributes_preview
  include post_attributes_preview_event_main

block post_source
  include post_source_user
