extends templates/top_bar/top_bar_event_template

block top_bar_left
  div.format_date.format_date_top.gray_text.event_date_top(id='format_date_top_#{format_date_top_count++}')= post.start_time
  div.format_date.format_date_bottom.descriptor.red_text.event_date_bottom(id='format_date_bottom_#{format_date_bottom_count++}')= post.start_time

block post_name
  h4.post_name= post.name

block top_bar_main_location
  div.gray_text.venue_text= post.location

block other_attributes_preview
  include post_attributes_preview_event_main

block post_source
  include post_source_user
