each notification in notifications
  a(href='/bubbles/#{notification.connections.bubble}/#{notification.connections.post.post_type}/view/#{notification.connections.post._id}')
    li.post_widget
      p= notification.description
