extends ../layouts/default

block main
  div.page_content.subscriptions
    include widgets/form_search
    user_subscribed = 0
    section.list_heading_buttons_container
      div.subtitle.colorize_blue #{bubbles.length} bubbles found
    div.divider
    section.subscription_section
      ul.subscription_list
        each bubble in bubbles
          bubble_connect_status = 'member'
          include ../widgets/bubble_widget
