section.left_bar
  block section_top

  block section_middle

-//  section.section_bottom
-//    div.post_action_container
-//      button.post_action_calendar
-//      div.descriptor.gray_text share w/ friends
-//    div.post_action_container
-//      button.post_action_calendar
-//      div.descriptor.gray_text add to calendar
