extends templates/button_bubble_template

block template_params
  template_params_num_objects     =  bubble.num_connections.num_posts.num_events
  template_params_button_label    =  'events'
  template_params_bubble_section  =  'event'
