section.sidebar
  section.sidebar_main
    section.top_container
      div.pic_border
        div.top_container_inner
          block sidebar_top

    ul.sidebar_buttons
      block sidebar_buttons

    section.bottom_links
      a(href='https://getsatisfaction.com/emorybubble')
        | Give Feedback
      ・
      a(href='http://thecampusbubble.com')
        | About
      ・
      © 2013

  section.sidebar_right_border
