div(class='toggle_visible create_post colorize_texture_none')
  | search
  div(class='toggle_make_invisible icon_arrow_down icon_arrow_down_none start_invisible')

section.bubble_form_container.search_form_container
  form.bubble_form.start_open.toggle_invisible.form-horizontal(method="post", action="/browse_bubbles")
    input.search_input(type='text', maxlength="50", name="query", placeholder='Name of an organization, class, etc.')

    button.submit_post.submit_search.colorize_texture_none(type='submit') go
