li.post_widget
  section.post_widget_section.post_widget_left
    block top_bar_left

  section.post_widget_section.post_widget_main
    section.post_main_info
      block post_name

      section.subtitle.descriptor
        block post_attributes_preview

  section.post_widget_section.post_widget_right
    section.post_widget_mid_right
      block connect_post

      if (post.privacy == 'private')
        div.icon_privacy.icon_privacy_private
      else if (post.privacy == 'public')
        div.icon_privacy.icon_privacy_public
    block post_source
