a.back_button.go_back.gradient_gray(href='/bubbles/'+bubble._id+'/#{bubble_section}')
  div(class='icon_back_to_list_#{bubble_section}')
  span.descriptor.gray_text.back_to back to 
  span.descriptor.red_text.bubble_name= bubble.name
