extends templates/top_bar/top_bar_talk_template

block top_bar_left
  include big_comment_bubble

block post_name
  input#edit_name.required_input.bubble_input.connect_hidden.post_name(value=post.name)

block post_attributes_preview
  include post_attributes_preview_talk_main

block post_source
  include post_source_user
