extends templates/single/single_event_unauthorized_template

block top_bar
  include widgets/top_bar_event_show

block edit_post


block description
  include widgets/description_show_event

block comments
  include widgets/comments
