extends ../../../../../layouts/default

block main
    section(class=['page_#{bubble_section}s'])
      section.back_to_bubble
        include ../../../../widgets/back_to_bubble

        block edit_post

      ul.post_list.single_post
        block top_bar

      section.post_info
        block map_canvas

        block left_bar

        section.post_attributes
          block description

          block students_going

        block comments
