div(class='bubble_widget_container bubble_widget_container_'+bubble_connect_status)
  li.bubble_widget
    a(href='/bubbles/'+bubble._id)
      section.section_inner
        img.pic.pic_big(src=bubble.pic_big)
        div.pic.pic_overlay
        include subscribe
        div.bubble_name_container
          div.bubble_name_container_inner
            h1.bubble_name= bubble.name
  section.button_connect_bubble_container
    if (bubble_connect_status == 'invitee' || bubble_connect_status == 'applicant')
      include ../posts/widgets/button_connect_bubble_member
